.clock {
  font-size: 30px;
  font-family: Geneva, Verdana;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 40px 0;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.loader {
  margin: 40px;
}